body {
  margin: 0;
  padding: 0; 
}

footer {
  background-color: #555;
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  color: white;
  font-family: "Open Sans";
  text-align: center;
  }

#canvas {
  margin: 5px;
  width: 60vw;
  float:left;
}

#game-container {
  padding: 5px;
  background-color: #222;
  display:inline-block;
  margin-bottom: 5px;
}